@tailwind base;
@tailwind components;
@tailwind utilities;

.pdf-viewer {
    position: relative;
    overflow: hidden;
}

.pdf-viewer canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.pdf-viewer .react-resizable {
    position: absolute;
    z-index: 10;
}
